.github-search {
    font-size: 40px;
    width: 280px;
    height: 50px;
}

.github {
    margin-right: 10px;
}

.row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
}

.row-top {
    padding-top: 35px;
}