/* You can add global styles to this file, and also import other style files */

@import './colors.css';
@import './fonts.css';

.shadow {
    box-shadow: 0 0 4px NaNpx rgba(0, 0, 0, 0.4);
    background-color: var(--white);
}

/* Styles */
.search {
  width: 750px;
  height: 50px;
}

.search input {
  width: 650px;
  height: 50px;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--brownish-grey);
  display: inline;
}

.search button {
  width: 100px;
  height: 50px;
  display: inline;
  background-color: #ac53f2;
}

.user-avatar {
  width: 280px;
  height: 280px;
  border-radius: 2px;
  box-shadow: 0 0 4px NaNpx rgba(0, 0, 0, 0.4);
}

.user-avatar img {
  width: 100%;
  height: 100%;
}

/* Icons */
.search-icon {
  width: 30px;
  height: 30.1px;
  object-fit: contain;
  box-shadow: 0 0 4px NaNpx rgba(0, 0, 0, 0.4);
  /* background-color: var(--white); */
}
.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
        