.github-search {
    font-size: 60px;
    width: 415px;
    height: 81px;
    margin-left: 167px;
}

.github {
    margin-right: 10px;
}

.row {
    width: 100%;
    padding-top: 244px;
    padding-left: 201px;
    padding-right: 201px;
}