<div class="container">
  <div class="row">
    <div class="col-8 col-md-8">
      <div class="github-search">
        <p class="github">Github</p><p class="text-style-3">Search</p>
      </div>
  
        <div class="search">
          <input type="text" [(ngModel)]="inputSearch" (keyup.enter)="gotoResult()">
          <button (click)="gotoResult()">
            <img class="search-icon" src="assets/icons/search-icon.png" srcset="assets/icons/search-icon@2x.png 2x, assets/icons/search-icon@3x.png 3x">
          </button>
        </div>
    </div>
  </div>
</div>